name: Pixelbot

on:
  push:
    branches: dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
           pip install -r requirements.txt
           pip install mtcnn moviepy

      - name: Set Telegram BOT token
        run: echo "TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}" >> $GITHUB_ENV

      - name: Upgrade black
        run: python -m pip install --upgrade black

      - name: Format code with black
        run: black .

      - name: Run bot
        run: |
          python pixelateTG.py
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
